html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  transition: all 200ms linear;
  opacity: 0;
}

.opacity-animate {
  opacity: 1;
}


.diamond {
  height: 80px;
  right: -7em;
  top: calc(50% - 40px);
  width: 80px;
  transition: all 400ms linear;
  background-color: hotpink;
  transform: rotate(45deg);
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  max-height:10em;
  color: darkgoldenrod;
  text-align: center;
  overflow: hidden;
  transition: all 400ms linear;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.panel-collapse {
  max-height: 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
}

.bouncing {
  animation: bounces 500ms ease-in alternate;
}

@keyframes bounces {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  20% {
    transform: translateY(-30px) translateX(-50px);
  }
  40% {
    transform: translateY(30px) translateX(-100px);
  }
  60% {
    transform: translateY(-30px) translateX(-150px);
  }
  80% {
    transform: translateY(30px) translateX(-200px);
  }
  100% {
    transform: translateY(-30px) translateX(-250px);
  }
}


.overflow {
  overflow:hidden;
}

.diamond-move {
  right: 5em;
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;
  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
  max-height: 0;
  overflow: hidden;
}
.js-list {
 -webkit-animation: appending 200ms linear forwards;
  animation: appending 200ms linear forwards;
}

-webkit-@keyframes appending {
  
  0% {
    max-height: 0em;

  }
  100% {
    max-height: 2em;

  }
}

@keyframes appending {
  
  0% {
    max-height: 0em;

  }
  100% {
    max-height: 2em;

  }
}
